@page
@model Dsv_Project_v3.Pages.BookingModel
@{
}
<div class="container mt-5">
    <h2>Book @Model.SelectedRoom.Name</h2>
    <form method="post">
        <div class="form-group">
            <label for="meetingDate">Vælg dato:</label>
            <input type="date" id="meetingDate" name="MeetingDate" class="form-control" onclick="this.showPicker()" required>
        </div>

        <div class="form-group">
            <label for="startMeetingTime">Vælg start tidspunkt:</label>
            <input type="time" id="startMeetingTime" name="MeetingTime" class="form-control " onclick="this.showPicker()" required>
        </div>
        <div class="form-group">
            <label for="endMeetingTime">Vælg slut tidspunkt:</label>
            <input type="time" id="endMeetingTime" name="EndMeetingTime" class="form-control" onclick="this.showPicker()" required>
        </div>

        <div class="form-group">
            <label for="comment">Kommentar:</label>
            <textarea id="comment" name="Comment" class="form-control"></textarea>

        </div>

        <button type="submit" class="btn btn-success mt-3">Bekræft Booking</button>


    </form>
        

</div>