@page
@model Dsv_Project_v3.Pages.BookingModel
@{
}
<body>
    <container-sm>
        <div class="text-center">
            <h1>Book lokale</h1>
            <p>Du kan booke lokalet mellem 7:00-17:00</p>
        </div>

        <div class="card shadow-sm">
            <div class="card-body text-center">
                <form method="post">
                    <div class="form-group">
                        <label for="inputDateTime"></label>
                        <input type="datetime-local" asp-for="MeetingRoomBooking.StartDateTime" id="inputForm" aria-describedby="dateTimeHelp" placeholder="Enter Date/Time" step="3600">
                        <input type="datetime-local" asp-for="MeetingRoomBooking.EndDateTime" id="inputForm" aria-describedby="dateTimeHelp" placeholder="Enter end time" step="3600" />
                    </div>
                    <div class="form-group mt-2">
                        <select asp-for="MeetingRoomBooking.RoomID" id="Lokale">
                            <option value="0">Select a room</option>
                            <option value="1">Alpha</option>
                            <option value="2">Beta</option>
                            <option value="3">Delta</option>
                            <option value="4">Gamma</option>
                            <option value="5">Sigma</option>
                            <option value="6">Mu</option>
                        </select>
                        <label for="inputComment"></label>
                        <input type="text" asp-for="MeetingRoomBooking.Comment" id="inputForm" aria-describedby="textHelp" placeholder="Enter a comment" value="">
                        <small id="commentHelp" class="form-text text-muted mt-5">Enter any comments or special requests for the staff here.  </small>
                    </div>
                    <button type="submit" class="btn btn-primary mt-5">Submit</button>
                </form>
                </<div>
                </div>
    </container-sm>
    <script>

           var rooms=document.getElementById("Lokale");
              rooms.value=getQueryParameter("roomname");



        function getQueryParameter(name) {

             const urlParams = new URLSearchParams(window.location.search);

             return urlParams.get(name);

           }


    </script>
</body>